body {
    background: #EEE;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
.img_index {
    margin-right: 20px;
}
.inches {
    height: 200px;
}
.inches a {
    white-space: nowrap;
}
p {
    font-size: 16px;
}
.vendors {
    background-color: rgba(0, 0, 0, .8);
    padding: 10px 0 40px;
    position: relative;
}
.vendors:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://pp.vk.me/c628529/v628529424/3f3c6/MhMX0F-yChM.jpg) 50% -300px;
    width: 100%;
    height: 100%;
    opacity : 0.8;
    z-index: -1;
}
.vendors h1 {
    color: #A94442;
    margin-bottom: 25px;
}
.vendors a {
    color: #FFF;
    display: inline-block;
    margin-bottom: 5px;
}
.vendor_list__item-popular a {
    font-weight: bold;
    color: #f5ffae;
}
.vendor_list {
}
.vendor_list__item {
    display: inline-block;
    /*width: 200px;*/
}
.vendor_list-tire .vendor_list__item {
    /*width: 140px;*/
}
.vendor_list-disk {
    margin-bottom: 30px;
}
.navbar-default {
    background-color: #BD3A37;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand:hover {
    color: #DDD;
}
.content {
    background: #FFF;
}
.main_page_title {
    font-size: 34px;
    margin-bottom: 35px;
}

.price_button {
    display: block;
    margin-bottom: 40px;
}
.price_button .btn {
    margin-bottom: 5px;
}
.price_button .glyphicon {
    font-size: 20px;
    margin-right: 10px;
}
.catalog__detail__price {
    font-size: 28px;
}
.catalog__detail__full_name {
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
}
.container-catalog_item {
    background: #FFF;
    padding-bottom: 20px;
}
.catalog__detail__text {
    line-height: 28px;
    font-size: 17px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.catalog__detail__price_descr {
    font-size: 12px;
    font-weight: normal;
}

.row-catalog_list {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #F0F0F0;
    padding-bottom: 20px;
    background: #FFF;
}
.row-catalog_list:hover {
    /*background: #F9F9F9;*/
}
.catalog__list__title {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 10px;
    color: #000;
}
.catalog__list__price {
    font-size: 18px;
    display: inline-block;
    margin-bottom: 10px;
}
.catalog__list__color {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 10px;
}
.catalog__list__label {
    font-size: 16px;
    color: #333;
}

.catalog_item__card {
    display: inline-block;
    max-width: 300px;
    max-height: 360px;
    min-width: 300px;
    min-height: 300px;
    text-align: left;
    box-sizing: border-box;
    margin-bottom: 50px;
    text-align: center;
}
.catalog_item__partner_name {
    font-size: 16px;
    color: #555555;
    line-height: 17px;
    margin-bottom: 5px;
    display: inline-block;
}
.catalog_item__card .detail_image {
    position: relative;
    padding: 2px;
    padding-bottom: 60px;
    border: 1px solid #000;
}
.detail_image img {
    max-width: 293px;
    max-height: 295px;
}
.detail_image .btn {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    border-radius: 0;
}
.catalog_item__price {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 50px;
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    height: 50px;
}
.catalog_item__card:hover .catalog_item__price {
    background: rgba(255, 255, 255, 1);
}
.catalog_item__card:hover .catalog_item__partner_name {
    color: #000;
    text-decoration: underline;
}

.yandex_share {
    width: 320px;
    margin-bottom: 80px;
}
.yandex_share__title {
    float: right;
}

.related_item {
    width: 150px;
    background: #EFEFEF;
    padding: 15px;
    margin: 0 5px 5px 0;
    border-radius: 10px;
    box-sizing: content-box;
    vertical-align: top;
    display: inline-block;
}
.related_item:hover {
    background: #DDDDDD;
}
.related_item__title {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
}
.related_item__image {
    background: #FFF;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
    max-height: 150px;
}
.related_item__price {
    font-size: 16px;
    color: #000;
    display: inline-block;
}
.category_description{
    margin-bottom: 30px;
}
.category_description p {
    font-size: 16px;
    line-height: 22px;
}






.submenu {
    visibility: hidden;
    opacity: 0.5;
    transition: visibility 0s linear 0.2s, opacity 0.3s linear;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background: #F6F6F6;
    min-width: 200px;
    max-width: 350px;
}
#menu > li {
    position: relative;
}
#menu li {
    /*margin-top: 0!important;*/
}
#menu > li:hover > ul.submenu{
    visibility: visible;
    opacity: 1;
    box-shadow: 1px 1px 1px 1px #EEE;
}
#menu li:hover > a {
    background: #d4d4d4 !important;
}
#menu {
    /*width: 300px;*/
    background: #EEE;
}
#menu li a {
    padding: 7px 10px !important;
    border-radius: 0;
    color: #000;
}
#menu li.active > a {
    background: #999;
    color: #FFF;
}

.container-detail {
    background: #FFF;
}
.container-detail-menued {
    min-height: 1200px;
}
.subcategories {
    margin-left: -15px;
}
.avtogsm__detail {}
.avtogsm__detail_img {
    max-width: 600px;
    border: 1px solid #EDEDED;
}
.avtogsm__detail_price {
    margin-bottom: 10px;
}




.catalog_list {
    /*max-width: 1000px;*/
}
.catalog_list__item {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    background: #FFF;
    margin-bottom: 15px;
    margin-right: 15px;
}
.catalog_list__item_wrap {
    position: relative;
}
.catalog_list__item .catalog_item__card {
    min-width: 250px;
    max-width: 250px;
    height: 380px;
    margin-bottom: 0;
    border: 0;
    padding: 5px 0;
    border: 5px solid #DDDDDD;
    box-sizing: border-box;
}
.catalog_list__item .catalog_item__card:hover {
    border: 5px solid #F05A40;
}
.catalog_list__item .catalog_item__card:visited,
.catalog_list__item .catalog_item__card:focus {
    border: 5px solid #FDFDFD;
}
.catalog_list__item .catalog_item__card:visited:hover {
    border: 5px solid #F05A40;
}
.catalog_list__item img {
    max-width: 100%;
    max-height: 200px;
}
.catalog_list__item .detail_image {
    border: 0;
    padding-top: 10px;
    padding-bottom: 70px;
}
.catalog_list__item .catalog_item__price {
    bottom: 0 !important;
    top: auto;
}
.catalog_list__item__title {
    display: block;
    padding-top: 5px;
    text-align: left;
    margin: 0 70px 0 10px;
    color: #000;
}
.catalog_list__item__diameter {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: #000;
}



.pagination {
    margin: 50px 0 150px;
}

.navbar-catalog_filter {
    background-color: #f8f8f8;
}
.catalog_filter input {
    width: 100px;
}
.catalog_filter label {
    display: block;
    margin: 0;
    /*color: #DFDFDF;*/
    font-weight: normal;
    float: left;
    line-height: 34px;
    margin-right: 5px;
}
.catalog_filter {
    overflow: hidden;
}
.catalog_filter li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
}
.catalog_filter .range {
    width: 80px;
}

