{% load i18n %}
<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
{% if choices %}
  <script type="text/javascript">
   function changeFunc() {
    var selectBox = document.getElementById("selectBox");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    window.location = selectedValue;
   }
  </script>

    <select onchange="changeFunc();" id="selectBox">
    {% for choice in choices %}
        <option value="{{ choice.query_string|iriencode }}"{% if choice.selected %} selected="selected"{% endif %}>
        {{ choice.display }}
        </option>
    {% endfor %}
    </select>
{% endif %}