{% extends "koleso/base.jinja" %}
{% from "macroses.jinja" import breadcrumbs with context %}

{% block head %}
    {{ super() }}
    <meta name="description" content="">
{% endblock %}

{% block head_title -%}
    <title>{{ reverted_path_way|join(' - ') or category_title }}</title>
{%- endblock %}

{# {% block crumbs %} #}
    {# {% set crumbs = [(category.get_absolute_url(category_uri), category.name),] %} #}
    {# {% if brand %}{% do crumbs.append((brand.get_absolute_url(), brand.name),) %}{% endif %} #}
{# {% endblock %} #}


{% block content %}
<div class="container container-detail container-detail-menued">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            <h1>{{ reverted_path_way|join(' - ') or category_title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">

            <ul class="nav nav-pills nav-stacked" id="menu">
            {%- for category in menu_categories recursive %}
                {% if category %}
                    {% set category_uri = url('avtogsm:list', category_id=category.id) %}
                {% else %}
                    {% set category_uri = url('avtogsm:list') %}
                {% endif %}
                <li{% if category.id|int == category_id or category.id in parents_ids %} class="active"{% endif %}><a href="{{ category_uri }}">{{ category.name }}</a>
                {%- if not category.is_leaf_node() -%}
                    <ul class="nav nav-pills nav-stacked submenu">{{ loop(category.get_children().filter(level__lte=2)) }}</ul>
                {%- endif %}</li>
            {%- endfor %}
            </ul>


        </div>
        <div class="col-sm-8">

            {% if items %}
            <br>
            <br>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>наименование</th>
                        <th>категория</th>
                        <th>цена</th>
                    </tr>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ url('avtogsm:detail', category_id=item.category_id, pk=item.id) }}">{{ item.name }}</a></td>
                        <td><a href="{{ url('avtogsm:list', category_id=item.category.id) }}">{{ item.category.name }}</a></td>
                        <td>{{ item.price }} руб.</td>
                    </tr>
                {% else %}
                    <p>В этой категории пока что нет автоаксессуаров</p>
                {% endfor %}
                </table>
            {% endif %}

            {% include 'pagination.jinja' %}

            <br>

            {% if menu_subcategories|length > 1 %}
                <ul class="nav nav-pills subcategories">
                {% for subcategory in menu_subcategories %}
                    <li{% if subcategory.id|int == category_id %} class="active"{% endif %}><a href="{{ url('avtogsm:list', category_id=subcategory.id) }}">{{ subcategory.name }}</a></li>
                {% endfor %}
                </ul>
                <br>
            {% endif %}

        </div>
    </div>

    <br>
    <br>
    <br>

</div>
{% endblock %}
