{% if is_paginated %}
<nav>
  <ul class="pagination">
  {% if page_obj.has_previous() %}
    <li>
      <a href="?{{ page_obj.previous_page_number().querystring }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {%- for page in page_obj.pages() -%}
        {%- if page -%}
            <li{% if page == page_obj.number %} class="active"{% endif %}><a href="?{{ page.querystring }}">{{ page }}</a></li>
        {%- else -%}
            <li><span>…</span></li>
        {%- endif -%}
    {%- endfor -%}

    {% if page_obj.has_next() %}
    <li>
      <a href="?{{ page_obj.next_page_number().querystring }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
