{% extends "koleso/base.jinja" %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                {% for city in cities %}
                    <a href="http://{{ city.site.domain }}">{{ city.ru_names }}</a><br>
                {% endfor %}
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
