{% extends "koleso/base.jinja" %}

{% from "macroses.jinja" import breadcrumbs with context %}
{% from "koleso/helpers.jinja" import price_button, yandex_share with context %}

{% set inches = ['дюйм', 'дюйма', 'дюймов'] %}


{% block crumbs %}
    {% set crumbs = [(object.category.get_absolute_url(category_uri), object.category.name),] %}
    {% if object.vendor %}{% do crumbs.append((object.vendor.get_absolute_url(), object.vendor.name),) %}{% endif %}
    {% if object.diameter %}
        {% do crumbs.append((url('koleso:list', category_uri='tires', brand=object.vendor.name, diameter=object.diameter), 'шины %s %s' % (object.diameter, object.diameter|plural(*inches)) ),) %}
    {% endif %}
    {{ breadcrumbs(crumbs=crumbs) }}
{% endblock %}


{% block head_title -%}
    <title>Автомобильная {{- ' шипованная' if object.spikes else '' }} шина в {{ city_where|capitalize }} {{ object.title }} {{ '%s %s' % (object.diameter, object.diameter|plural(*inches)) }} / {{ object.price }} руб</title>
{%- endblock %}

{% block head %}
    {{ super() }}
    <meta property="og:site_name" content="wheelzard">
    <meta property="og:image" content="{{ object.picture }}">
    <meta name="description" content="{{ object.text[:250] }}">
{% endblock %}


{% block content %}
    <div class="container container-catalog_item">
        <h1>{{ object.link_title() }} {{ '%s %s' % (object.diameter, object.diameter|plural(*inches)) }}</h1>
        <h2 class="catalog__detail__full_name">{{ object.name }}</h2>
        <table class="table">
            <tr>
                <td>
                    <p class="catalog__detail__text">{{ object.text }}</p>
                    <ul>
                        {# <li>{{ object.delivery }}</li> #}
                        {% if object.replica %}
                            <li>Диск является копией (Replica)</li>
                        {% endif %}
                        {% if object.manufacturer_warranty %}
                            <li>Гарантия от производителя</li>
                        {% endif %}
                        {# <li>{{ object.local_delivery_cost }}</li> #}
                    </ul>
                    <table style="width: 450px" class="table table-striped">
                        <tr>
                            <th colspan="2">Информация о шине</th>
                        </tr>
                        {% if object.diameter %}
                        <tr>
                            <td>посадочный диаметр диска</td>
                            <td>{{ object.diameter }} {{ object.diameter|plural(*inches) }}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            <td>ширина</td>
                            <td>{{ object.width }} мм</td>
                        </tr>
                        <tr>
                            <td>высота</td>
                            <td>{{ object.height }} %</td>
                        </tr>
                        <tr>
                            <td>радиус</td>
                            <td>
                                {{ object.diameter }}{% if object.diameter_param %} {{ object.diameter_param }}{% endif %}
                                {{ object.diameter|plural(*inches) }}
                            </td>
                        </tr>
                        <tr>
                            <td>индекс нагрузки</td>
                            <td>{{ object.load_index1 }}{% if object.load_index2 %} - {{ object.load_index2 }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>индекс скорости</td>
                            <td>{{ object.get_speed_index_display() }} км/ч</td>
                        </tr>


                        {% if object.spikes %}
                        <tr>
                            <td>шипованная</td>
                            <td>{{ 'да' if object.spikes else 'нет' }}</td>
                        </tr>
                        {% endif %}

                        {% if object.xl %}
                        <tr>
                            <td>с укрепленным каркасом</td>
                            <td>{{ 'да' if object.xl else 'нет' }}</td>
                        </tr>
                        {% endif %}

                        {% if object.tl %}
                        <tr>
                            <td>бескамерная</td>
                            <td>{{ 'да' if object.tl else 'нет' }}</td>
                        </tr>
                        {% endif %}

                        {% if object.eco %}
                        <tr>
                            <td>eco</td>
                            <td>{{ 'да' if object.eco else 'нет' }}</td>
                        </tr>
                        {% endif %}

                        {% if object.dirty %}
                        <tr>
                            <td>для езды по снегу или грязи</td>
                            <td>{{ 'да' if object.dirty else 'нет' }}</td>
                        </tr>
                        {% endif %}

                        {% if object.ssr %}
                        <tr>
                            <td>шина с укрепленной боковиной ранфлэт</td>
                            <td>{{ 'да' if object.ssr else 'нет' }}</td>
                        </tr>
                        {% endif %}
                    </table>

                    {% if related_items %}
                    <div style="related_items">
                        <h3>Шины, похожие на {{ object.name }}</h3>
                        {% for item in related_items -%}
                            <a href="{{ item.get_absolute_url() }}" class="related_item">
                                <span class="related_item__title">{{ item.title }}<span class="related_item__price">&nbsp;–&nbsp;{{ item.price }}&nbsp;руб.</span></span>
                                <span class="related_item__image">
                                    <img width="100%" src="{{ item.picture }}" alt="title">
                                </span>
                            </a>
                        {%- endfor %}
                    </div>
                    {% endif %}


                </td>

                <td align="center">
                    <a href="{{ object.url }}" rel="nofollow" target="_blank" class="catalog_item__card">
                        <span class="catalog_item__partner_name">В наличии на <strong>kolesatyt.ru</strong></span>
                        <div class="detail_image">
                            {% if object.price %}
                                <span class="catalog_item__price">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> {{ object.price }} руб.
                                </span>
                                <span rel="nofollow" class="btn btn-success">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span class="catalog__detail__price">купить</span>
                                </span>
                            {% endif %}
                            <img src="{{ object.picture }}" alt="">
                        </div>
                    </a>

                    {{ yandex_share() }}
                    <div>
                        {% include 'koleso/includes/adsense_300.jinja' %}
                    </div>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}
