{% extends "koleso/base.jinja" %}

{% from "macroses.jinja" import breadcrumbs with context %}
{% from "koleso/helpers.jinja" import price_button, yandex_share with context %}

{% block head_title -%}
    <title>{{ object.title }} {{ object.translated_color }} в {{ city_where|capitalize }} / {{ object.diameter }} дюймов / {{ object.price }} руб</title>
{%- endblock %}

{% block crumbs %}
    {% set crumbs = [(object.category.get_absolute_url(category_uri), 'Колесные диски'),] %}
    {% if object.vendor %}{% do crumbs.append((object.vendor.get_absolute_url(), object.vendor.name),) %}{% endif %}
    {% if object.diameter %}
        {% do crumbs.append((url('koleso:list', category_uri='disks', brand=object.vendor.name, diameter=object.diameter), 'диски %s %s' % (object.diameter, object.diameter|plural('дюйм', 'дюйма', 'дюймов')) ),) %}
    {% endif %}
    {{ breadcrumbs(crumbs=crumbs) }}
{% endblock %}


{% block head %}
    {{ super() }}
    <meta property="og:site_name" content="wheelzard">
    <meta property="og:image" content="{{ object.picture }}">
    <meta name="description" content="{{ object.text[:250] }}">
{% endblock %}


{% block content %}
    <div class="container container-catalog_item">
        <h1>{{ object.link_title() }} {{ object.translated_color }} / {{ object.diameter }} дюймов</h1>
        <h2 class="catalog__detail__full_name">{{ object.name }}</h2>
        {% set inches = ['дюйм', 'дюйма', 'дюймов'] %}
        <table class="table">
            <tr>
                <td>
                    <p class="catalog__detail__text">{{ object.text }}</p>
                    <ul>
                        {# <li>{{ object.delivery }}</li> #}
                        {% if object.replica %}
                            <li>Диск является копией (Replica)</li>
                        {% endif %}
                        {% if object.manufacturer_warranty %}
                            <li>Гарантия от производителя</li>
                        {% endif %}
                        {# <li>{{ object.local_delivery_cost }}</li> #}
                    </ul>
                    <table style="width: 450px" class="table table-striped">
                        <tr>
                            <th colspan="2">Информация о диске</th>
                        </tr>
                        <tr>
                            <td>ширина</td>
                            <td>{{ object.width }}  {{ object.width|plural(*inches) }}</td>
                        </tr>
                        <tr>
                            <td>диаметр</td>
                            <td>{{ object.diameter }} {{ object.diameter|plural(*inches) }}</td>
                        </tr>
                        <tr>
                            <td>вынос диска</td>
                            <td>{{ object.edge }}мм</td>
                        </tr>
                        <tr>
                            <td>число крепежных отверстий диска</td>
                            <td>{{ object.pcd_part1 }}</td>
                        </tr>
                        <tr>
                            <td>диаметр окружности под крепежные отверстия</td>
                            <td>{{ object.pcd_part2 }}мм</td>
                        </tr>
                        <tr>
                            <td>диаметр центрального отверстия</td>
                            <td>{{ object.hole_diameter }}мм</td>
                        </tr>
                    </table>

                    {% if related_items %}
                    <div style="related_items">
                        <h3>Диски, похожие на {{ object.name }}</h3>
                        {% for item in related_items -%}
                            <a href="{{ item.get_absolute_url() }}" class="related_item">
                                <span class="related_item__title">{{ item.title }}<span class="related_item__price">&nbsp;–&nbsp;{{ item.price }}&nbsp;руб.</span></span>
                                <span class="related_item__image">
                                    <img width="100%" src="{{ item.picture }}" alt="title">
                                </span>
                            </a>
                        {%- endfor %}
                    </div>
                    {% endif %}

                </td>
                <td align="center">
                    <a href="{{ object.url }}" rel="nofollow" target="_blank" class="catalog_item__card">
                        <span class="catalog_item__partner_name">В наличии на <strong>kolesatyt.ru</strong></span>
                        <div class="detail_image">
                            {% if object.price %}
                                <span class="catalog_item__price">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> {{ object.price }} руб.
                                </span>
                                <span rel="nofollow" class="btn btn-success">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span class="catalog__detail__price">купить</span>
                                </span>
                            {% endif %}
                            <img src="{{ object.picture }}" alt="">
                        </div>
                    </a>

                    {{ yandex_share() }}
                    <div>
                        {% include 'koleso/includes/adsense_300.jinja' %}
                    </div>
                </td>
            </tr>
        </table>

    </div>
{% endblock %}
