{% extends "koleso/base.jinja" %}
{% from "macroses.jinja" import breadcrumbs with context %}
{% from "koleso/helpers.jinja" import list_item, filter_form with context %}

{% if diameter %}
    {% set diameter = 'диаметром %s %s' %  (diameter, diameter|int|plural('дюйм', 'дюйма', 'дюймов',)) %}
{% else %}
    {% set diameter = '' %}
{% endif %}

{% block head %}
    {{ super() }}
    <meta name="description" content="{{ category.seo_name or category.name }} от производителя «{{ brand.name }}». {{ brand.description|striptags }}">
{% endblock %}

{% block head_title -%}
    <title>{{ '%s %s %s' % (category.seo_name or category.name, brand.name or '', diameter) }}</title>
{%- endblock %}


{% block content %}
<div class="container">
    <h1>{{ '%s %s %s' % (category.seo_name or category.name, brand.rus_name or brand.name or '', diameter) }} в {{ city_where|capitalize }}</h1>
    {{ filter_form() }}

    {% if category and not (brand or request.GET.get('vendor')) %}
        <div class="category_description">{{ category.text }}</div>
    {% endif %}


    {% if brand.description and page_obj.number <= 1 %}
        <div class="category_description">{{ brand.description|safe }}</div>
    {% endif %}

    <div class="catalog_list">
    {% for item in items -%}
        {{ list_item(item) }}
    {%- else %}
        <p>В этой категории пока нет шин или дисков</p>
    {% endfor %}
    </div>

{% include 'pagination.jinja' %}

</div>
{% endblock %}
